<div class="form-control">
  <div class="row ">
    <div class="col">
      <h4 >Full name: </h4>
    </div>
    <div class="col">
     <h4>{{user.fullName}}</h4>
    </div>
  </div>
</div>
<div class="form-control">
  <div class="row ">
    <div class="col">
      <h4 >Username: </h4>
    </div>
    <div class="col">
      <h4>{{user.userName}}</h4>
    </div>
  </div>
</div>
<div class="form-control">
  <div class="row ">
    <div class="col">
      <h4 >Email: </h4>
    </div>
    <div class="col">
      <h4>{{user.email}}</h4>
    </div>
  </div>
</div>
